.title{
  text-align: center;
  text-decoration: underline;
  
}

.board{
  display:grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  justify-content:center;
}

.clear{
  display:flex;
  justify-content:center;
  margin-top:20px; 
  padding: 10px;
}